.search-form {
  position: relative;
  height: 1.5rem;
}

.search-dropdown {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 10rem;
  background-color: aqua;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0rem;
}