@use "header";

@mixin custom-margins-for-blocks {
  margin: 0;
  margin-left: 15%;
}

.food-basket-container {
  border-left: header.$primary-border;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: whitesmoke;
  div {
    padding: 0.5rem;
  }
  h3 {
    @include custom-margins-for-blocks();
    margin-top: 1rem;
  }
  h4 {
    @include custom-margins-for-blocks();
  }
}

.food-composition-indexes {
  background-color: white;
  width: 100%;
  border-bottom: header.$primary-border;
  p, div {
    @include custom-margins-for-blocks();
  } 
}

@mixin flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: whitesmoke;
}
.food-items-container {
  @include flex-container();
}

@mixin item-img {
  display: block;
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin: auto;
  border: header.$primary-border;
  border-radius: 0.1rem;
}

%item-container {
  border: header.$primary-border;
  margin: 1rem;
  min-width: 8rem;
  width: 45%;
  min-height: 8rem;
}
.item-container {
  @extend %item-container;
  position: relative;
  border-radius: 0.25rem;
  background-color: white;
  h6 {
    margin: 5% auto;
    text-align: center;
  }
  img {
    @include item-img();
  }
}

.item-container-empty {
  @extend %item-container;
  border: none;
}

@mixin delete-button {
  font: header.$primary-font;
  border: none;
  background-color: rgba(51, 170, 51,  0);
  color: header.$primary-color;
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
}

.delete-item-from-basket-button {
  @include delete-button();
}

.hide-busket-button {
  @include delete-button();
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
}

%item-info {
  font: header.$primary-font;
  font-size: 0.8rem;
  position: absolute;
  bottom: 2%;
}

.item-weight-info {
  @extend %item-info;
  left: 2%;
}

.item-calories-info {
  @extend %item-info;
  right: 2%;
}